@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.poppins {
  font-family: 'Poppins', sans-serif;
}

.text {
  font-size: 0.85rem;
  width: calc(16em + 14vw);
}

html, body {
  height: 100%;
  margin: 0 auto;
}

.center {
  height: 100vh;
  display: flex; flex-direction: column;
  justify-content: center; align-items: center;
  text-align: center;
}

/* For the children in the center div, remove the margin. */
.center > * {
  margin: .1rem 0;
}

/* To avoid collapsing margins, eliminate the margin at the top for the first child.*/
.center > *:first-child {
  margin-top: 0px;
}

.center > *:nth-child(2) {
  margin-top: 1rem;
  margin-bottom: 2.4rem;
}

.input {
  border: 2px solid #333;
  border-radius: .3em;
  padding: .4rem;
  width: 7em;
}

select {
  margin: .5rem;
}

.equal {
  font-weight: bold;
  font-size: 2rem;
}